div.c-fleshlight {
	position: relative;
	height: 100%;
	width: 100%;
	line-height: 0;
}

div.c-fleshlight img {
	max-height: 100%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
}

div.c-fleshlight .o-fleshlight {
	bottom: 0;
	width: auto;
	height: 77%;
	position: absolute;
}

div.c-fleshlight .o-ruler {
	width: auto;
	height: 100%;
	float: left;
}
